

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
  }


  /* navigation section start */


.navigation{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;
}
.gamer, .y-t, .nav-log , .follow{
    display: flex;
    gap: 15px;
    align-items: center;
}

img{
    width: 33.916px;
    height: 24px;
   flex-shrink: 0;
}
.nav-log{
  gap: 15px;
}
.follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin: 10px;
}
.p1{
    color: #3C354F;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
}
.g{
    color: green;
}
.nav-title{
    color: #0B0223;
    font-size: 20px;
}
.btn{
    display: flex;
    gap: 13px;
}
/* navigation section end */

/* contianer 1 started */


.container-1{
    width: 85vw;
    display: flex;
    justify-content: space-around;
    padding-left: 65px;
    padding-right: 65px;
    margin: 0 auto;
    min-height: 45px;
}
.container-1-title{
    width: 50%;
    padding-top: 55px;
}
.play-like-the{
    color: #0b0223;
    font-size: 48px;
    padding-bottom: 10px;
    font-weight: 600;
}
.container-1-img{
    width: 50%;
}
.group-18{
    width: 300px;
    height: 300px;
}
.goat{
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    color: #F948B2;
}
.con-1{
    font-size: .7rem;
    color: #534C64;
}
.sign{
    border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 10px 28px;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-right: 12px;
  cursor: pointer;
}
.go-rogue{
    border-radius: 48px;
    background: #4ec5f7;
    padding: 10px 28px;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* container 1 section end */

/* container 2 section started */
.container-2 .con2-title{
    text-align: center;
    color: #0b0223;
    font-size: 34px;
    margin-top: 65px;
    font-weight: 700;
}

.online-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 85vw;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    object-fit: cover;
}

.x-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: left;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }

.card img {
    width: 240px;
    height: 240px;
    border: 3px solid white;
    border-radius: 18px;
}
.x-card img {
    width: 240px;
    height: 240px;   
}
.ending {
    width: 92.6%;
    height: 83.9%;
    top: 10px;
    right: -94% ;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.532);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
    
  }

.con2-title span{
    color: #8758f1;
}
.container-2 .global {
    padding-top: 15px;
    padding-bottom: 30px;
    color: #534c64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
  }
.x-card:hover .ending{
    right: 12px;
 }
.playbutton {
    font-size: 35px;
    color: white;
}

/* section 2 end */



/* section-3 started */

.container-3{
  width: 85vw;
  align-items: center;
  margin: auto;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 30px;
  padding
}

.container-3-content {
    width: 50%;
    margin-left: 100px;
    text-align: right;
}

.container-3-img {
    width: 50%;
    position: relative;
    margin-left: 250px;
}
.horse{
    width: 450px;
    height: auto;
    margin: 0 auto;
}
.doll{
    width: 230px;
    height: 230px;
    position: absolute;
    top: 260px;
    right: 330px;
}

.con3-title{
    font-size: 38px;
    font-weight: 700;
    width: 450px;
    margin-bottom: 15px;
  }
  
.con3-download{
    color: #8758f1;
  }

  /* container 4 started */

.container-4{
    background: linear-gradient(90deg,rgba(255, 66, 165, 0.03) 0%,rgba(255, 66, 165, 0.03) 100%
    );
  }

.first{
    width: 85vw;
    margin: 0 auto;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }
.head-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding: 22px;
    
  }
  .con3-img{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background: #fff;
    color: black;
    border: 2px solid #fff;
    width: 200px;
    height: 50px;
    margin: 0 auto;
  }
  .con3-img:hover {
    border: 2px solid #ff42a5;
    cursor: pointer;
  }
  
  .con3-img img {
    width: 40px;
    margin-right: 10px;
  }
  .con3-img p {
    color: #0b0223;
    font-size: 13px;
    font-weight: 600;
  }

/* container 4 done */



/* footer section started */


.footer-container{
    background-color: #0B0223;
}
.part-1{
    height: auto;
    padding-bottom: 40px;
    padding-top: 80px;
}
.footer-container-logo{
    display: flex;
    justify-content: center;
}
.gg{
    color: green;
}
.amar{
    color: white;
}
.footer-container-logo p{
    font-size: 25px;
}
.menu-of-footer{
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    padding-right: 40px;
  }
  .menu-of-footer a {
    margin-top: 20px;
    font-size: 13px;
    color: white;
  }
  .logo-of-footer{
    flex-wrap: wrap;
    padding-left: 120px;
    padding-right: 100px;
    justify-content: center;
  }
  .logo-of-footer span {
    margin-top: 20px;
    font-size: 25px;
  }

  .footer-subject{
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    padding-right: 40px;
    align-items: center;
  }

  .footer-subject a {
    margin-top: 20px;
    margin-right: 25px;
    text-align: center;
    font-size: 12px;
    color: white;
  }
  .footer-subject , .cookie{
    padding-right: 35px;
   }
.copy-write{
    text-align: center;
    font-size: 12px;
}
.ending{
    height: 88.4%;
  }



/* for mobile screen */


@media screen and (min-width: 426px) and (max-width: 768px) {
    .gamer{
      flex-direction: column;
      padding: 30px;
    }
    .nav-img {
      width: 30%;
      margin: 0 auto;
    }
